@font-face {
	font-family: 'Blog Serif';
	src: url('./fonts/Serif.woff2') format('woff2');
}

@view-transition {
	navigation: auto;
}

body {
	max-width: 40rem;
	margin-inline: auto;
	font-family: 'Blog Serif', serif;
}

call-out {
	display: block;
	border-inline-start: 4px solid currentColor;
	padding-inline-start: 1rem;
}
